<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="irstheme">

    <title> Azedw - Clothing Shop HTML Template </title>
    
    <link href="/assets/css/themify-icons.css" rel="stylesheet">
    <link href="/assets/css/icomoon.css" rel="stylesheet">
    <link href="/assets/css/icomoon.css" rel="stylesheet">
    <link href="/assets/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="/assets/css/flaticon.css" rel="stylesheet">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/animate.css" rel="stylesheet">
    <link href="/assets/css/owl.carousel.css" rel="stylesheet">
    <link href="/assets/css/owl.theme.css" rel="stylesheet">
    <link href="/assets/css/slick.css" rel="stylesheet">
    <link href="/assets/css/slick-theme.css" rel="stylesheet">
    <link href="/assets/css/swiper.min.css" rel="stylesheet">
    <link href="/assets/css/owl.transitions.css" rel="stylesheet">
    <link href="/assets/css/jquery.fancybox.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- start page-wrapper -->
    <div class="page-wrapper">
        <div class="body-overlay"></div>

        <!-- start preloader -->
        <div class="preloader">
            <div class="sk-chase">
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
            </div>        
        </div>
        <!-- end preloader -->

        <!-- Start header -->
        <header id="header" class="site-header header-style-1">
            <div class="topbar">
                <div class="topbar-text">
                    <p>Join our showroom and get 25 % off ! Coupon code : Bangbang45</p>
                </div>
            </div> <!-- end topbar -->

            <%- include('includes/navbar.ejs') %>
        </header>
        <!-- end of header -->


        <!-- start page-title -->
        <section class="page-title">
            <div class="page-title-container">
                <div class="page-title-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col col-xs-12">
                                <h2>About us</h2>
                                <ol class="breadcrumb">
                                    <li><a href="/">Home</a></li>
                                    <li>About</li>
                                </ol>
                            </div>
                        </div> <!-- end row -->
                    </div> <!-- end container -->
                </div>
            </div>
        </section>
        <!-- end page-title -->     


        <!-- start about-section -->
        <section class="about-section section-padding">
            <div class="container-fluid">
                <div class="row">
                    <div class="col col-lg-8">
                        <div class="about-area">
                            <div class="info">
                                <span>About us</span>
                                <h2>Clothes that will be your best friends</h2>
                                <p>Compared with the size of the rest of him, waved about helplessly as he looked to me gregor then turned to look</p>
                                <a href="/contact" class="theme-btn-s3">Contact us</a>
                            </div>
                            <div class="img-holder">
                                <img src="/assets/images/about.jpg" alt>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-4">
                        <div class="mission-vision-area">
                            <div>
                                <h3>Our mission</h3>
                                <p>Pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me  gregor then turned to look out the window at the dull weather deal to the day</p>
                            </div>
                            <div>
                                <h3>Goal of our business</h3>
                                <p>Pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me  gregor then turned to look out the window at the dull weather deal to the day</p>
                            </div>
                            <a href="/shop" class="theme-btn">Go to shop</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end about-section -->


        <!-- start testimonials-section -->
        <section class="testimonials-section">
            <div class="container-1410">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="section-title-s4">
                            <h2>Client's quote</h2>
                            <p>Travelling salesman and above it there hung a picture</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-6">
                        <div class="testimonial-grids testimonials-slider">
                            <div class="grid">
                                <p>“Samsa was a travelling salesman and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and”</p>
                                <div class="client-info">
                                    <h5>Jhon smith</h5>
                                </div>
                            </div>
                            <div class="grid">
                                <p>“Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and”</p>
                                <div class="client-info">
                                    <h5>Jhon smith</h5>
                                </div>
                            </div>
                            <div class="grid">
                                <p>“Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and”</p>
                                <div class="client-info">
                                    <h5>Jhon smith</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end testimonials-section -->


        <!-- start blog-section -->
        <section class="blog-section section-padding">
            <div class="container-1410">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="section-title">
                            <span>Recent news</span>
                            <h2>From our blog</h2>
                        </div>   
                    </div>      
                </div>
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="blog-grids clearfix">
                            <div class="post">
                                <div class="entry-media">
                                    <img src="/assets/images/blog/img-16.jpg" alt>
                                </div>
                                <div class="entry-details">
                                    <div class="entry-meta">
                                        <div class="date">27 Nov 2020</div>
                                        <div class="tags"><a href="#">Fashion</a><a href="#">Trend</a></div>
                                    </div>
                                    <h3><a href="/blog-single">These clothing stores and looking for clothing store arround then</a></h3>
                                    <a href="/blog-single" class="read-more">Read More <i class="fi flaticon-next"></i></a>
                                </div>
                            </div>
                            <div class="post">
                                <div class="entry-media">
                                    <img src="/assets/images/blog/img-17.jpg" alt>
                                </div>
                                <div class="entry-details">
                                    <div class="entry-meta">
                                        <div class="date">27 Nov 2020</div>
                                        <div class="tags"><a href="#">Fashion</a><a href="#">Trend</a></div>
                                    </div>
                                    <h3><a href="/blog-single">Clothing Stores understands the human nature of presenting</a></h3>
                                    <a href="/blog-single" class="read-more">Read More <i class="fi flaticon-next"></i></a>
                                </div>
                            </div>
                            <div class="post">
                                <div class="entry-media">
                                    <img src="/assets/images/blog/img-18.jpg" alt>
                                </div>
                                <div class="entry-details">
                                    <div class="entry-meta">
                                        <div class="date">27 Nov 2020</div>
                                        <div class="tags"><a href="#">Fashion</a><a href="#">Trend</a></div>
                                    </div>
                                    <h3><a href="blog-single">Appearance is the first impression you convey to others solutiuon</a></h3>
                                    <a href="blog-single" class="read-more">Read More <i class="fi flaticon-next"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end blog-section -->



        <!-- start instagram-section -->
        <section class="instagram-section">
            <div class="container-1410">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="instagram-inner">
                            <div class="instagram-text">
                                <h3>Follow our instagram</h3>
                                <p>@aviwp.studio</p>
                            </div>
                            <div class="instagram-grids clearfix">
                                <div class="grid">
                                    <a href="#"><img src="/assets/images/instagram/1.jpg" alt></a>
                                </div>
                                <div class="grid">
                                    <a href="#"><img src="/assets/images/instagram/3.jpg" alt></a>
                                </div>
                                <div class="grid">
                                    <a href="#"><img src="/assets/images/instagram/4.jpg" alt></a>
                                </div>
                                <div class="grid">
                                    <a href="#"><img src="/assets/images/instagram/2.jpg" alt></a>
                                </div>
                                <div class="grid">
                                    <a href="#"><img src="/assets/images/instagram/5.jpg" alt></a>
                                </div>
                                <div class="grid">
                                    <a href="#"><img src="/assets/images/instagram/6.jpg" alt></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end instagram-section -->        


        <!-- start site-footer -->
        <%- include('includes/footer.ejs') %>
        <!-- end site-footer -->


    </div>
    <!-- end of page-wrapper -->



    <!-- All JavaScript files
    ================================================== -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Plugins for this template -->
    <script src="/assets/js/jquery-plugin-collection.js"></script>

    <!-- Custom script for this template -->
    <script src="/assets/js/script.js"></script>
</body>
</html>
